[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
Flask-JWT-Extended = "*"
werkzeug = "*"
flask-sqlacodegen = "*"
mysqlclient = "*"
pyenv-win = "*"
mysql-connector-python = "*"

[requires]
python_version = "3.8"

[scripts]
start="flask --debug --app application.py run -p 5000 -h 0.0.0.0"
